<html>
	<head>
	<script type="text/javascript" src="<mt:StaticWebPath/>plugins/CommentFlag/js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="<mt:StaticWebPath/>plugins/CommentFlag/js/jquery.form.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			changeEvent = function() {
				if ( $(this).val() != '' &&  $(this).siblings('label').hasClass('error'))
					$(this).siblings('label').removeClass('error');
				else if ($(this).val() == '')
					$(this).siblings('label').addClass('error');
			};
		<mt:if name="user_is_anonymous">
			$("#name").keyup(changeEvent);
			$("#email").keyup(changeEvent);
		</mt:if>
			$("#reasonSelect").change(changeEvent);
			$("#remarks").keyup(changeEvent);
		});
	</script>
	<link rel="stylesheet" type="text/css" href="<mt:StaticWebPath/>plugins/CommentFlag/css/report_dialog.css"/>
	</head>
	<body>
		<mt:if name="must_be_logged_in_and_not_logged_in" eq="1">
			<div class="error topmsg">
				Only registered users are allowed to report comments.
			</div>
		<mt:else name="is_a_duplicate">
			<div class="error topmsg">
				This comment has already been flagged!
				<script type="text/javascript">
					top.location.hash = "#close-pp-delay";
				</script>
			</div>
		<mt:else name="flag_successful">
			<div class="success topmsg">
				Thanks for reporting this comment!
				<script type="text/javascript">
					top.location.hash = "#close-pp-delay";
				</script>
			</div>
		<mt:else>
			<form action="<mt:CommentFlagUrl/>" method="post">
				<input type="hidden" name="__mode" value="file_report"/>
				<input type="hidden" name="comment_id" value="<mt:var name="comment_id"/>"/>
				<input type="hidden" name="blog_id" value="<mt:var name="blog_id"/>"/>
				<mt:if name="user_is_anonymous">
					<div>
						<label <mt:if name="no_name">class="error"</mt:if> for="name">Name:</label>
						<input type="text" name="name" id="name"/>
						
					</div>
					<div>
						<label <mt:if name="no_email">class="error"</mt:if> for="email">Email:</label>
						<input type="text" name="email" id="email"/>
						
					</div>
				<mt:else>
					<input type="hidden" name="registered_id" value="<mt:var name="registered_id"/>"/>
				</mt:if>
				<div>
				<label <mt:if name="no_reason">class="error"</mt:if> for="reasonSelect">Reason:</label>
					<select name="reason" id="reasonSelect">
						<option value=""></option>
						<mt:loop name="reasons">
						<option value="<mt:var name="reason"/>"><mt:var name="reason"/></option>
						</mt:loop>
					</select>
					
				</div>
				<div>
					<label <mt:if name="no_remarks">class="error"</mt:if> for="comments">Remarks:</label>
					<textarea rows="15" cols="50" name="remarks" id="remarks"></textarea>
				</div>
				<div>
					<label for="submit">&nbsp;</label><input id="submit" type="submit"/><input type="reset"/>
				</div>
			</form>
		</mt:if>
	</body>
</html>
